@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');
* {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}
.container {
    height: 500px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 16px 8px;
    color: #F9FAF8;
    margin-bottom: 90px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 900;
}

.intron {
    display: flex;
    justify-content: space-between;
}


.cta-intro {
    padding: 0 8px;
    width: 400px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

img {
    padding: 0 8px;
    width: 400px;
    height: auto;
}

button {
    margin-top: 8px ;
    padding: 8px 32px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border: none;
    border-radius: 5px;
}

.intro {
    background-color: #1f2937;
}

.info {
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
}

.cta {
    background-color: white;
}

.footer {
    background-color: #1f2937;
}

.centered {
    margin: auto;
    max-width: 1000px;
}

.info1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 36px;
    max-width: 1000px;
    padding: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen {
    height: 160px;
    width: 160px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.info1 h1 {
    color: #1f2937;
    padding: 32px;
}

.card p {
    color: #1f2937;
    width: 170px;
    text-align: center;
}

.quote1 {
    max-width: 800px;
    padding: 50px;
}

.quote1 p {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
}

.quote {
    display: flex;
}

span {
    display: block;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    display: flex;
}

.cta1 {
    background-color: #3882F6;
    display: flex;
    padding: 50px;
    border-radius: 10px;
    gap: 50px;
}

.text {
}

.cta1 button {
    border: 2px solid white;
}

.btnn {
    display: block;
    padding: auto;
}

.container.footer {
    height: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.foot {
    text-align: center;
}

@media (max-width: 800px) {
    .intron {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .cta-intro {
        padding-bottom: 16px;
    }

    h1 {
        font-size: 32px;
    }

    .container {
        height: fit-content;
    }

    .cards {
        flex-direction: column;
        width: auto;
        padding-top: 0px;
        gap: 16px;
    }

    .cta {
        height: 500px;
    }

}